<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineArgumentsParser" version="3.0.20" targetFramework="net452" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="YamlDotNet" version="8.1.2" targetFramework="net452" />
</packages>